.container {
    width: 100%;
    box-sizing: border-box;
    padding: 25px 15%;
    text-align: left;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.normal-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
}

.col-25 {
    width: 24%;
    margin-top: 30px;
    box-sizing: border-box;
    padding: 10px 15px;
    background-color: #f1f1f1;
    min-height: 600px;
}

p {
    color: #172B4D;
}

.square {
    width: 25px;
    height: 25px;
    background-color: black;
    margin-right: 10px;
}

/* Components */
input, option, textarea {
    padding: 10px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

select {
    padding: 9px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.btn {
    padding: 10px;
    background-color: #344563;
    color: white;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

/* Font and Text */
.col-title {
    font-size: 17px;
    font-weight: bold;
}

/* Colors */
.green {
    color: green;
}

.orange {
    color: orange;
}

.red {
    color: red;
}